* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-custom {
    max-width: 1440px;    
    background-image: url(./img/Background.png);
    background-size: 1440px 612px;
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding: 1rem;
    margin: auto;
}

/* Nav Bar CSS */
.navbar-brand,
.navbar-light,
.nav-link {
    color: white !important;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-size: 54px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.nav-item {
    margin: 1rem;
}

.si-btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.su-btn {
    width: 110px;
    height: 44px;
    background-color: #DEFF06;
    color: #757575 !important;
    border: none;
    font-size: 16px;
}

/* Main Content CSS */

.main {
    max-width: 679px;    
    margin: auto;
    margin-top: 6rem;
    text-align: center;
}

.product-img {
    margin-top: 4rem;
}

.main-header>h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    color: white;
}

.main-header>p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.search {
    max-width: 591px;    
    border: none;
}

.rect1 {
    width: 307px;
    height: 55px;
    border: 1px solid #757575;
    padding-left: 15px;  
}

.rect2 {
    width: 142px;
    height: 55px;
    border: 1px solid #757575;
    padding-left: 15px;    
}

.search-btn {
    width: 142px;
    height: 55px;
    background-color: #DEFF06;
    color: #757575 !important;
    border: 1px solid #757575;
    font-size: 16px;     
}

/* Hot Deals Section CSS */

.hot-deals {
    max-width: 1277px;  
    margin: auto;
    text-align: center;
}

.hot-deals-header {
    margin-top: 7rem;
}

.section-para {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #696969;
    opacity: 0.5;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
}

.hot-deals-span {
    font-weight: bold;
}

.section-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    opacity: 0.8;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
}

.card {
    border: none;
    position: relative;
}

.card-img-top {
    background-color: #E3E3E3;
    padding: 1.5rem;
    filter: drop-shadow(0 4px 4px #979797);
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.price-tag {
    max-width: 86px;    
    position: absolute;
    top: 26px;
    right: -7px;
    z-index: 1000;
}

.deals-btn {
    max-width: 228px;
    background-color: #F5A623;
    color: white;
    border: none;
    padding: 1rem;

}

/* Buying Tips Section CSS */

.buying-tips {
    margin-top: 7rem;
    max-width: 1256px;
    text-align: center;
}

.buying-tips-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sect3-text {
    position: absolute;
    bottom: 10px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

/* Footer CSS */

.footer {
    max-width: 1440px;    
    background-image: url(./img/Rectangle\ 5.png);
    background-size: 1440px;
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding: 1rem;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: white;
   
}

.footer-heading {
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    filter: drop-shadow(0 10px 30px #979797);
    opacity: 0.8;
}

.footer-para {
    font-size: 20px;
    font-weight: 500;
    filter: drop-shadow(0 0 20px #000000);
    opacity: 0.5;
}

/* Navbar footer CSS */
.footer-nav {
    background-color: #342C2C;
    max-width: 1440px;
    margin: auto;
    padding-left: 84px;
    padding-right: 84px;
}

@media (max-width: 700px) {

    .navbar-brand {
        font-size: 40px;
    }

    .search {
        display: flex;
        flex-direction: column;
    }    

    .footer-search {
        display: flex;
        flex-direction: row;        
    }

    .footer-heading {
        padding-top: none;
    }
}