* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #CCCCCC;
    color: #B9984F;
    background-image: url(https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80);
    background-position: center;
}

button {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #F8E1DF;
    border-radius: 50%;
    border: none;
}

#wrapper {
    width: 20%;
    margin-top: 10rem;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    position: relative;
    left: 300px;
    border: 1px solid #B9984F;
    box-shadow: 10px 10px 5px 0px rgba(239,228,228,0.6);
}

#output {
    border-color: 1px solid black;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    color: #E0A290;
    height: 50px;
    overflow: hidden;
}

#clear {
    width: 120px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 30px;
    background-color: #B9984F;
    color: white;
}

.header {
    padding: 20px;
}

.regulars {
    color: white;
    border-radius: 50%;
    background-color: #B9984F;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 30px 15px 30px 15px;
    grid-gap: 20px;
}

.numbers:focus, .operators:focus, .dot:focus, #clear:focus, .equal-sign {
    outline: 0;
}

.equal-sign {
    width: 120px;
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 30px;
}

