* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 2;
}

.bg-color {
    background-color: #F4F7FA;
}

/* Nav Bar CSS */
.nav-custom {
    background-color: #34465C;
}

.avatar {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.logo {
    width: 150px;
}

.nav-item>a {
    color: white !important;
    text-transform: uppercase;
}

.dropdown-menu {
    text-align: center;
    top: 3.2rem;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
    font-size: 15.2px;
    color: #464646;
}

.trolley {
    position: relative;
    font-size: 1.5rem;
    color: white;
}

.badge {
    position: absolute;
    left: 15px;
    top: -2px;
    background-color: #26a69a;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* FB messenger CSS */
#message {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    background-color: #0084ff;
    border-radius: 50%;
    z-index: 200;

}

.messenger {
    color: white;

}

/* Main CSS */
/* filter CSS (main left side) */
.filters {
    background-color: #F4F7FA;
    font-size: 19.2px;
}

input[type=radio] {
    transform: scale(1.5);
}

/* card CSS (main right side) */

.cards {
    background-color: #F4F7FA;
}

.card {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}

.card>img {
    height: 15rem;
}

.title {
    height: 5rem;
}

.price>span {
    color: #f65623;
    font-size: 1.2rem;
}

.search-course {
    width: 100%;
    color: #c4c4c4;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 0 10px 20px;
}

.search-course:focus {
    outline: blue;
} 

.fa-search {
    color: #c4c4c4;
}

.father {
    position: relative;
}

.son {
    position: absolute;
    top: 10px;
    right: 20px;
}

.card-text {
    color: #757575;
    font-size: 0.9rem;
    font-weight: lighter;
}

.discount {
    color: #757575 !important;
    text-decoration-line: line-through;
}

/* footer */
.footer-bg-color {
    background-color: #464646;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 2.5;
    color: white;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

a,
ul,
ol {
    text-decoration: none;
    color: #919294;
    list-style-type: none;
}

.footer-icon {
    margin: 15px;
    font-size: 0.6rem;
    padding-top: 20px;
}

.col-title {
    color: white;
    margin-left: 2rem;
}

.p-footer {
    margin-left: 2rem;
}

@media (max-width: 800px) {
    .navbar {
        position: relative;
    }  

    .logo {
        position: absolute;
        top: 1rem;
        left: 50%;
        margin-left: -50px !important;
        display: block;
        width: 100px;
    }

    .avatar {
        position: absolute;
        top: 0.2rem;
        right: 10px;
    }

    .filters {
        display: none;
    }
}