* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------- Nav Bar CSS----------------------- */

header {
    background: linear-gradient(175deg, rgba(0, 140, 190, 1) 0%, rgba(24, 151, 196, 0.2) 14%, rgba(255, 255, 255, 0) 67%), url(./img/turtle-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.nav-item-container {
    margin-right: 7rem;
    max-width: 572px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.navbar-brand,
.navbar-light,
.nav-link {
    color: white !important;
}

.nav-item {
    margin-right: 20px !important;
}

.nav-icon-container {
    padding-bottom: 10px;
}

.nav-icon {
    margin-right: 1rem;
    cursor: pointer;
}

/* -------------- Heading Section CSS -------------- */

.main {
    color: white;
    position: relative;
    max-width: 70%;
    left: 5%;
    top: 18%;
}

.main-title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}

.main-content h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0 0 10px;
}

.main-content {
    display: flex;
    flex-direction: row;
}

hr {
    width: 80px;
    border: 1px solid white;
}

.welcome {
    padding-bottom: 1rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #9AA8B6;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: greenyellow;
}

.donate-container {
    background: white;
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 40%;
    border-radius: 4px;   
}

.donate-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #3E4C5B;
}

.donate-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #9AA8B6;
}

.donate-item {
    border-left: 1px solid #9AA8B6;
}

.donate-btn {
    width: 80%;
    height: 90%;
    background-color: #23CF5F;
    color: #fff;
    border: none;
    padding: 2rem 0 2rem 0;
    border-radius: 4px;    
}

.fa-sort-up {
    position: relative;
    top: 40%;
    margin-left: 2px;
    font-size: 20px;
    color: lightgray;
}

.socials {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    bottom: 10rem;

}

.socials i {
    margin: 10px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ease 0s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s ease 0s;
}

button {
    transition: 0.3s;
}

button:hover {
    background-color: #1eb252;
    border: 1px solid #3E4C5B;
}

/* -------------- Content Section CSS ----------------*/
.bottom {
    margin-bottom: 8rem;
}

.section-container {
    width: 70%;
    margin: 10rem auto 0 auto;
}

.small-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #3E4C5B;
}

.section-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #3E4C5B;
    margin-bottom: 2rem;
}

.section-desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #9AA8B6;
}

.section-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #23CF5F;
    margin-right: 3rem;
}

.section-img {
    width: 100%;
    height: 100%;
}

/* --------Highlight section CSS--------- */

.number {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    text-transform: uppercase;
    color: #23CF5F;
}

.number-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #3E4C5B;
}

.rect-container {
    position: relative;
}

.highlight-rect {
    width: 23rem;
    height: 23rem;
    border: 3px solid #23CF5F;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* -------------Latest News Section CSS------------ */
.section-title1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #3E4C5B;
}

.section-desc1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9AA8B6;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #23CF5F;
}

.line {
    line-height: 1.5rem;
}

.latest-news img {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.btn-news {
    width: 20%;
    height: 4rem;
    background-color: #23CF5F;
    color: #fff;
    border: none;
    margin-top: 10rem;
    text-transform: uppercase;
    border-radius: 4px;
}

.p-left {
    padding-left: 40px;
}



/* -------------Footer Section CSS ------------ */

.footer {
    margin: 10rem auto 5rem auto;
    max-width: 50%;
}

.footer-item {
    margin-top: 5rem;
}

.footer-item p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #3E4C5B;
}

.footer-item span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #23CF5F;
}

.subscribe {
    margin: 4rem auto 10rem auto;
}

.rect1 {
    width: 70%;
    padding-left: 15px;
    height: 4rem;
    background: #F9FCFF;
    border-radius: 4px;
    border: none;
}

.footer-btn {
    width: 30%;
    height: 4rem;
    background-color: #23CF5F;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 2px;
}

/* -------------XS screen ------------ */

@media (max-width: 576px) {
    .main {
        top: 2%;
    }

    .main-title h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }

    .main-content h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }

    .welcome {
        padding: 0;
    }

    .nav-icon-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        right: 1rem;
    }
    
    .nav-icon {
        margin: 5px;
    }

    .donate-container {
        position: relative;
        top: 25%;
    }

    .donate-title {
        display:none;
    }

    .donate-btn {
        padding: 10px;
    }

    .subscribe {
        margin:0;
        flex-direction:column;
        width: 100vw;        
    }

    .p-left {
        padding-left: 0;
    }

    .section-title {
        font-size: 40px;
    }
    
}

/* -------------Small Screen---------------- */

@media (max-width: 767px) {
    .main {
        top: 2%;
    }

    .main-title h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }

    .main-content h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }

    .welcome {
        padding: 0;
    }

    .donate-container {
        position: relative;
        top: 25%;
    }

    .donate-title {
        display:none;
    }

    .donate-btn {
        padding: 10px;
    }

    .p-left {
        padding-left: 0;
    }

    .section-title {
        font-size: 40px;
    }
    
}

/* ----------------Medium Screen----------------- */

@media (max-width: 991px) {
    .main {
        top: 2%;
    }

    .main-title h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }

    .main-content h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }

    .welcome {
        padding: 0;
    }

    .donate-container {
        position: relative;
        top: 25%;
    }    

    .donate-btn {
        padding: 10px;
    }  
    
    .p-left {
        padding-left: 0;
    }

    .section-title {
        font-size: 40px;
    }
}